[Desktop Entry]
Type=Application
Name=Android Keyboard (AOSP)
Exec=waydroid app launch com.android.inputmethod.latin
Icon=/home/dim/.local/share/waydroid/data/icons/com.android.inputmethod.latin.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;
NoDisplay=true

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.android.inputmethod.latin
Icon=/home/dim/.local/share/waydroid/data/icons/com.android.settings.png
